﻿@model GYMONE.Models.SchemeMasterDTO

@{
    ViewBag.Title = "Create Scheme";
}

<script>
    if (!Modernizr.inputtypes.date) {
        $(function () {
            $(".datefield").datepicker();
        });
    }
</script>



@if (TempData["Message"] != null)
{
    <div class="alert alert-success" style="float: none;" role="alert">

        <b>@TempData["Message"]</b>


    </div>
}



<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<script type="text/javascript">
    $.noConflict();
</script>
<div class="container">
    <div class="logo col-sm-12 text-center col-md-12 ">
        <img alt="" src="~/Images/dotnetsai.png" />
    </div>

    <div class="clearfix"></div>


    <fieldset>
        <legend class="legend">Create Scheme</legend>

        <div class="panel">

            <div class="panel-body">

                <div>
                    @Html.ActionLink("Scheme List", "Details", "Scheme", new { @class = "btn btn-info btn-pressure" })
                </div>


                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                     @Html.AntiForgeryToken()

                    <fieldset>
                        <legend>SchemeMasterDTO</legend>


                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.SchemeName)
                            </div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.SchemeName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SchemeName)
                            </div>

                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success" value="Create" />
                                @Html.ActionLink("Cancel", "Details", "Scheme", new  {  @class="btn btn-success"})
                                
                            </div>
                        </div>

                    </fieldset>
            
                }
                <div class="clearfix"></div>


            </div>
        </div>
    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
