﻿@model IEnumerable<GYMONE.Models.SchemeMasterDTO>
@using GridMvc.Html
@{
    ViewBag.Title = "Scheme Details";
}


<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="container">
   

<div class="clearfix"></div>

    <fieldset>
        <legend class="legend">
Scheme Details</legend>


        <div class="panel">
  
    <div class="panel-body">
    <div>
        @Html.ActionLink("Create Scheme", "Create", "Scheme", new { @class = "btn btn-info btn-pressure" })
    </div>


    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.SchemeID).Titled("Scheme ID").Filterable(true).Encoded(false)
        .Sanitized(false).SetWidth(50);
                        columns.Add(c => c.SchemeName).Titled("SchemeName").Filterable(true).Encoded(false)
        .Sanitized(false).SetWidth(50);

                        columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(20)
        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.SchemeID })).Titled("Edit");
                        columns.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.SchemeID }, new { onclick = "return confirm('Are you sure you wish to delete this Scheme?');" })).Titled("Delete");

                    }).WithPaging(10).Sortable(true)

        </div>
            </div>
</fieldset>

</div>
