﻿@model GYMONE.Models.SchemeMasterDTO
@using GridMvc.Html
@{
    ViewBag.Title = "SingleScheme";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-success" style="float: none;" role="alert">
        <b>@TempData["Message"]</b>
    </div>
}

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="container">
    <div class="clearfix"></div>
    <fieldset>
        <legend class="legend">
            Scheme Details
        </legend>
        <div class="panel">
            <div class="panel-body">
                <div>
                    @Html.ActionLink("Create Scheme", "Create", "Scheme", new { @class = "btn btn-info btn-pressure" })
                </div>
                <div id="divSchemeId">
                    <label id="lblSchemeId">Scheme ID : </label>
                    <span id="spanSchemeId">@Model.SchemeID</span>
                </div>
                <div id="divSchemeName">
                    <label id="lblSchemeName">Scheme Name : </label>
                    <span id="spanSchemeName">@Model.SchemeName</span>
                </div>
                <div id="divSchemeStatus">
                    <label id="lblSchemeStatus">Scheme Status : </label>
                    <span id="spanSchemeStatus">@Model.SchemeStatus</span>
                </div>
                <span>
                    @Html.ActionLink("Edit", "Edit", new { id = @Model.SchemeID }, new { @class = "btn btn-success", @id = "aEditBtn" })
                </span>
                <span>
                    @Html.ActionLink("Delete", "Delete", new { id = @Model.SchemeID }, new { onclick = "return confirm('Are you sure you wish to delete this Scheme?');", @class = "btn btn-success", @id = "aDeleteBtn" })
                </span>

            </div>
        </div>
    </fieldset>
</div>