﻿@model GYMONE.Models.ChangepasswordVM
@{
    ViewBag.Title = "Changepassword";
}

<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container">

    <div class="logo col-sm-12 text-center col-md-12 ">
        <img alt="" src="~/Images/dotnetsai.png" />
    </div>

    <div class="clearfix"></div>
    @if (ViewBag.ResultMessage != null)
    {
        <div class="alert alert-success" style="float: none;" role="alert">
            @ViewBag.ResultMessage
        </div>
    }


    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
       
        <fieldset>
            <legend class="legend">Change password</legend>
            <div class="panel">

                <div class="panel-body">

                    <div class="row">
                        @Html.ValidationSummary(true)
                         <div class="col-md-3">New Password</div>
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.Newpassword, new { @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(m => m.Newpassword)
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>

                    </div>

                     <div class="row">
                        <div class="col-md-3">Old Password</div>
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-pressure" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
   
    }
</div>
