﻿@model GYMONE.Models.Register
@{
    ViewBag.Title = "Register";
}

<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />

<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<script type="text/javascript">
    $.noConflict();
</script>




<div class="container">

 <div class="logo col-sm-12 text-center col-md-12 "> <img alt=""  src="~/Images/dotnetsai.png" /></div>

<div class="clearfix"></div>






    @using (Html.BeginForm())
    {
     @Html.AntiForgeryToken()
        <fieldset>
            <legend class="legend">Register</legend>

              <div class="panel">
  
    <div class="panel-body">
    
               <div>
                @Html.ActionLink("List of all User", "AllRegisterUserDetails", "Account", new  {  @class ="btn btn-info btn-pressure"})

            </div>
        <br />

                <div class="col-md-6 col-sm-6">
                    <div class="row">

                     <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    Full Name 
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FullName)

                </div>
                    </div>

                     <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    User Name
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.TextBoxFor(m => m.username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.username)
                </div>

               
            </div>
                    <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    EmailID
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EmailID)

                </div>


          </div>
                        </div>

                  

                </div>

          <div class="col-md-6 col-sm-6">

              
            
               <div class="row">
                 <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    Password
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.password)
                </div>

            </div>
               
           <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    Confirm Password
                </div>


                <div class="col-md-6 col-sm-6">

                    @Html.PasswordFor(m => m.Confirmpassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Confirmpassword)
                </div>

              
            </div>
          

               </div>
            </div>
          
            

            <div class="row">
                <div class="col-md-12">
                    <input id="Submit" class="btn btn-success" name="actionType" type="submit" value="Save" />
                   
                    @Html.ActionLink("Cancel", "AllRegisterUserDetails", "Account", new  {  @class="btn btn-success"})

                </div>
            </div>
        
    
    </div></div>

           
      
        </fieldset>
    }
</div>




