﻿@model GYMONE.Models.Role

@{
    ViewBag.Title = "Create Role";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />




<div class="container">
  <div class="logo col-sm-12 text-center col-md-12 "> <img alt=""  src="~/Images/dotnetsai.png" /></div>

<div class="clearfix"></div>

      
    @using (Html.BeginForm())
    {
         @Html.AntiForgeryToken()
        <fieldset>
            <legend class="legend">Create Role</legend>

              <div class="panel">
  
    <div class="panel-body">


         <div>
           @Html.ActionLink("Roles", "RoleIndex","Account",new { @class = "btn btn-info btn-pressure" }) | @Html.ActionLink("Add Role to User", "RoleAddToUser","Account",new { @class = "btn btn-info btn-pressure" })
        </div>

          
            <div class="row">
                <div class="col-md-3">
                    @Html.Label(" Role name")
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RoleName)
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
            </div>

               

            <div class="row">
                <div class="col-md-12">
                    <input id="Submit" class="btn btn-success" type="submit" value="Save" />
                    @Html.ActionLink("Cancel", "RoleIndex", "Account", new  {  @class="btn btn-success"})
                </div>
            </div>
            <div style="margin-top: 5px"></div>
             </div>
            </div>
        </fieldset>
        
        
        
        
        
    }
</div>
