﻿@model IEnumerable<GYMONE.Models.Role>

@{
    ViewBag.Title = "All Roles";
}

@using GridMvc.Html



<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<link href="~/Content/Site.css" rel="stylesheet" />




<div class="container">
    
     <div class="logo col-sm-12 text-center col-md-12 "> <img alt=""  src="~/Images/dotnetsai.png" /></div>

<div class="clearfix"></div>



    <fieldset>
        <legend class="legend">All Roles</legend>

   <div class="panel">
  
    <div class="panel-body">
    

          <div>
            @Html.ActionLink("Create Role", "RoleCreate", "Account", new { @class = "btn btn-info btn-pressure"})
        </div>
        <div style="margin-top: 10px"></div>


        @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.RoleName).Titled("RoleName").Filterable(true).Encoded(false)
     .Sanitized(false).SetWidth(50);
                        columns.Add(c => c.RoleId).Titled("RoleId").Encoded(false)
        .Sanitized(false).SetWidth(50)
         .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.RoleName },
       new { onclick = "return confirm('Are you sure you wish to delete this Role ?');" })).Titled("Delete");}).WithPaging(10)


  </div>
                  </div>
    </fieldset>
</div>
