﻿@model GYMONE.Models.PaymentlistingDTO
@{
    ViewBag.Title = "AllMemberList";
}
@using GridMvc.Html




<script src="~/Scripts/jquery-3.1.1.js"></script>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="container">
    <div style="margin-top: 10px"></div>


    <div class="logo col-sm-12 text-center col-md-12 ">
        <img alt="" src="~/Images/dotnetsai.png" />
    </div>

    <div class="clearfix"></div>

    <fieldset>

        <legend class="legend">All Member List</legend>
        <div style="margin-top: 5px"></div>

        <div class="test" style="overflow: scroll; height: 500px; width: 1000px">
            <div style="width: 1000px">

                <div class="panel">

                    <div class="panel-body">


                        @Html.Grid(Model.PaymentList).Columns(columns =>
                    {
                        columns.Add(c => c.MemberReg).Titled("MemberNo").Filterable(true);
                        columns.Add(c => c.Name).Titled("Name").Filterable(true);
                        columns.Add(c => c.JoiningDate).Titled("JoiningDate").Filterable(true).Format("{0:dd/MM/yyyy}");
                        columns.Add(c => c.RenwalDate).Titled("RenwalDate").Filterable(true).Format("{0:dd/MM/yyyy}");
                        columns.Add(c => c.Contactno).Titled("Contactno").Filterable(true);
                        columns.Add(c => c.PlanName).Titled("PlanName").Filterable(true);
                        columns.Add(c => c.SchemeName).Titled("SchemeName").Filterable(true);
                        columns.Add(c => c.PaymentAmount).Titled("Amount").Filterable(true);
 

                    }).WithPaging(10).Sortable(true)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>
