﻿@{
    ViewBag.Title = "User Dashboard";
}


<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="container">

    <div class="logo col-sm-12 text-center col-md-12 ">
        <img alt="" src="~/Images/dotnetsai.png" />
    </div>
    <div class="clearfix"></div>
    <fieldset>

        <legend>User Dashboard</legend>

        <div class="panel">

            <div class="panel-body">
               
             
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-user"></span>
                    @Html.ActionLink("Register Member ", "Create", "RegisterMember")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-list"></span>
                    @Html.ActionLink("Payment listing ", "PaymentDetails", "Payment")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Html.ActionLink("Payment Renewal", "RenewalDetails", "Renewal")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    @Html.ActionLink("Receipt / Candidate ", "Generatereceipt", "receipt")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    @Html.ActionLink("Yearwise Report ", "YearwiseReport", "YearwiseCollection")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    @Html.ActionLink("Monthwise Report ", "MonthwiseReport", "MonthwiseCollection")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    @Html.ActionLink("Details Member Report", "DetailsMemberReport", "DetailsReport")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-list"></span>
                    @Html.ActionLink("All Member List ", "AllMemberList", "Payment")
                </div>
                  <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Html.ActionLink("Renewal Report", "RenewalReport", "RenewalSearch")
                </div>
            </div>
        </div>
    </fieldset>

</div>
